html,
body {
  height: 100%;
    font-family: Sarabun;
}

body {
  background-color: #fff;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 20px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login{
    background-image: url(../images/loginBackground.png);
    height: 100%;
    object-fit: scale-down;
    margin: 0 auto;
    padding: 0;
}

.loginTitle{
    font-family: Futura;
    font-size: 1.5em;
}

.container-flex {
    display: flex;
    align-items: center;
}

.row{
    width: 100%;
}

.contentAdmin{
    background-color: white;
    font-family: Avenir;
    color: #212121;
}

.adminBody{
    background-color: white;
    font-family: Avenir;
    color: #212121;
}

.containerPadding{
    padding: 2em;
}

.pull-left{
    float: left !important;
}

.sectionHeader{
    font-family: Avenir;
    font-weight:1000;
    color: rebeccapurple;
    font-size: 2.4em;
    padding-bottom: 0.7em;
}

.body{
    font-family: Avenir !important;
    color: #878787 !important;
}

.sidebarShadow {
  -moz-box-shadow:    -3px 0 5px 0 #555;
  -webkit-box-shadow: -3px 0 5px 0 #555;
  box-shadow:         -3px 0 5px 0 #555;
}

.sidebarBackground{
    background-image: url(../images/loginBackground.png);
}

noDisplay{
    display: none;
}

.colorOrange{
    color: orange;
}

.bgcolorOrange{
    background-color: orange;
}

.colorRed{
    color: #ff5252;
}

.noBorder{
    border: 0;
    outline: none;
    outline: 0;
}

.btn-primary {
    color: #fff;
    background-color: #a153e7;
    border-color: #357ebd; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #7e27cc;
    border-color: #7e27cc; /*set the color you want here*/
}

.formModalHeader{
    background-color: orange;
    color: white;
    font-family: Futura;
    font-weight: 800;
}


.marker {
  background-image: url('../images/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}



